{% extends "base.html" %}
{% block content %}
<div class="text-center  text-primary ">
    <h3 class="">
        Release App
    </h3>
</div>

<div class="container-fluid row">
    <div class="col-4">
        <table class="table table-bordered">
            <tr>
                <th class="text-center bg-success">
                    Key Highlights
                </th>
            </tr>         
            <tr>
                <td>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item p-1">Centalized system for all the release related artifacts</li>
                        <li class="list-group-item p-1">Overview of Release</li>
                        <li class="list-group-item p-1">Ease of generation of Implementation plan</li>
                        <li class="list-group-item p-1">Image auto resize and formating </li>
                        <li class="list-group-item p-1">Ease of generating Release Notes</li>
                        <li class="list-group-item p-1">Overview of release status at a glance</li>
                        <li class="list-group-item p-1">Merge Scenario identification</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <th class="text-center bg-warning">
                    Upcoming Features
                </th>
            </tr>         
            <tr>
                <td>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item p-1">Integration with Jira</li>
                        <li class="list-group-item p-1">Integration with Bitbucket</li>
                        <li class="list-group-item p-1">Auto generation of driver files</li>
                        <li class="list-group-item p-1">Notifications </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="col">
        <table class="table table-bordered">
            <thead class="thead-light">
                <th></th>
                <th>Dev Team Hrs</th>
                <th>Rel Cord Hrs</th>
                <th>Misc Hrs</th>
                <th>Total Hrs</th>
            </thead>
            <tbody>
                <tr>
                    <td>Current</td>
                    <td>6 Persons X 4 hrs = 24 hrs</td>
                    <td>40-60 hrs</td>
                    <td>5-10 hrs</td>
                    <td>69-84 hrs</td>
                </tr>
                <tr>
                    <td>App V1</td>
                    <td>6 Persons X 3 hrs = 18 hrs</td>
                    <td>20-40 hrs</td>
                    <td>5-10 hrs</td>
                    <td>43-68 hrs</td>
                </tr>
                <tr>
                    <td>App V2</td>
                    <td>6 Persons X 2 hrs = 12 hrs</td>
                    <td>10-20 hrs</td>
                    <td>0-5 hrs</td>
                    <td>22-37 hrs</td>
                </tr>
                <tr >
                    <td></td>
                    <td>Total hrs saved / release / team</td>
                    <td>30-40 hrs</td>
                    <td>0-5 hrs</td>
                    <td class="bg-danger text-light">40-45 hrs</td>
                </tr>
            </tbody>
        </table>    
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr class="text-center">
                    <th colspan="3">Technology Stack</th>
                </tr>
                <tr class="text-center">
                    <th>Front End</th>
                    <th>Back End</th>
                    <th>Server</th>
                </tr>                
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">HTML/CSS</li>
                            <li class="list-group-item">JavaScript</li>
                            
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">SQLlite -  Database</li>
                            <li class="list-group-item">Django - Web Framework</li>
                            <li class="list-group-item">Python</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">Apache2 Web Server</li>
                            <li class="list-group-item">Hosted on BMC Cloud</li>
                            <li class="list-group-item">172.20.21.110 , 10.17.135.51</li>
                        </ul>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
