{% extends "base_print.html" %}
{% load filters %}

{% block style %}
    @page {
    size: A2 landscape;
    margin: 1cm;
}
{% endblock %}


{% block heading %}
<div style="text-align:center">
    {{Rel}} - Implementation Plan
</div>
{% endblock %}

{% block content %}
<div >
    <ul >
        {% for head,objs in cont.items %}    
            <li  style="background-color:#9a8c98;color:white;width:auto;">{{head}}</li>
            {% comment %} {{objs}} {% endcomment %}
            <table style="border: 1px solid black;width:auto;">        
                <tr style="text-align:center; width:auto;">
                    <th style="width:50px;">S.No</th>
                    <th style="width:100px">Track</th>
                    <th style="width:100px">CR# / US#</th>
                    <th style="width:100px">Status</th>
                    <th style="width:50px">Pre-Req Task</th>
                    <th style="width:50px">Seq#</th>
                    <th style="width:auto" >P4V Location</th>
                    <th style="width:auto">Object Name</th>
                    <th style="width:100px">Version#</th>
                    <th style="width:100px">Execution Schema</th>
                    <th style="width:100px">Object Name</th>
                    <th style="width:auto">Comments</th>
                    <th style="width:auto">Special Instructions</th>
                    <th style="width:auto">Backout Instructions</th>
                    <th style="width:100px">DB Instances (For Dev / UAT)</th>
                    <th style="width:100px">Requestor</th>                    
                </tr>
                {% for obj in objs %}
                <tr style="text-align:center;width:auto;">
                    <td style="padding-top: 5px;" >{{seq_cnt}}</td>
                    <td style="padding-top: 5px;" >{{obj.fk_wmobject.object_track}}</td>                    
                    <td style="padding-top: 5px;" >{{obj.fk_wmobject.object_id}}</td>
                    <td style="padding-top:5px;" ></td>
                    <td style="padding-top:5px;" ></td>
                    <td style="padding-top:5px;" >{{ forloop.counter }}</td>
                    <td style="padding-top:5px;" >{{obj.object_path|lsplit:0}}</td>
                    <td style="padding-top:5px;" >{{obj.object_path|lsplit:1}}</td>
                    <td style="padding-top:5px;" >Latest</td>
                    <td style="padding-top:5px;" >Prod</td>
                    <td style="padding-top:5px;" ></td>
                    <td style="padding-top:5px;" >{{obj.object_comment}}</td>
                    <td style="padding-top:5px;" ></td>
                    <td style="padding-top:5px;" >{{obj.object_backout}}</td>
                    <td style="padding-top:5px;" >EBIZDEV/EBIZQA</td>
                    <td style="padding-top:5px;" >{{obj.fk_wmobject.object_dev}}</td>
                </tr>        
                {% endfor %}
            </table>
        {% endfor %}
    </ul>
</div>


{% endblock content %}
