{% extends "base.html" %}
{% block heading %}
{{Rel}} - Release Notes
{% endblock heading%}
{% block toolbar %}
<a name="" id="" class="btn btn-warning btn-sm mx-1" href={% url 'app:pdf' Rel %} role="button">Download</a>
<a name="" id="" class="btn btn-warning btn-sm " href={% url 'app:release_objects' Rel %} role="button">Back</a>
{% endblock %}
{% block content %}
<ul class="list-group my-1">
    {% for obj in release_objects %}   

        <li class="list-group-item list-group-item-action p-0 m-0">
            <table class="table table-bordered" >
                <tr class="d-flex" style="background-color:#14213D;color:white" >
                    <td class="col-2 " >
                        {{obj.fk_wmobject.object_id}}
                    </td>
                    <td class="col "  >
                        {{obj.fk_wmobject.object_desc}}
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2">
                        Application Impact
                    </td>
                    <td class="col-10">
                        {{obj.app_imp}}
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2">
                        Process Impact
                    </td>
                    <td class="col-10" >
                        {{obj.proc_imp}}
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2">
                        Objective
                    </td>
                    <td class="col-10" >
                        {{obj.objective}}
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2">
                        Resolution
                    </td>
                    <td class="col-10"  >
                        {{obj.resolution}}
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-2 " >
                        Screen
                    </td>
                    <td class="col-10" >
                        {% if obj.img1 %}
                            <img src={{obj.img1.url}} alt="Image Not Found" class="img-thumbnail">
                        {% endif %}
                        {% if obj.img2 %}                    
                            <img src={{obj.img2.url}}  class="img-thumbnail">
                        {% endif %}
                        {% if obj.img3 %}                    
                            <img src={{ obj.img3.url }} alt="" class="img-thumbnail">
                        {% endif %}
    
                    </td>
                </tr>
        </table>
        </li>
        <br>

    {% endfor %}
</ul>

{% endblock content %}

