{% extends "base_print.html" %}
{% block heading %}



{{Rel}} - Release Notes
{% endblock heading%}

{% block content %}
    {% for obj in release_objects %}   
        <table class="table table-bordered" style="border: 1px solid black;">
            <tr style="width:auto">
                <td  style="background-color:#C2C2C2;padding:3px;">
                    {{obj.fk_wmobject.object_id}}
                </td>
                <td  style="background-color:#C2C2C2;padding:3px;" >
                    {{obj.fk_wmobject.object_desc}}
                </td>
            </tr>
            <tr style="width:auto">
                <td style="padding:3px;width:150px">
                    Application Impact
                </td>
                <td  style="padding:3px;width:800px">
                    {{obj.app_imp}}
                </td>
            </tr>
            <tr style="width:auto">
                <td style="padding:3px;width:150px">
                    Process Impact
                </td>
                <td  style="padding:3px;width:800px">
                    {{obj.proc_imp}}
                </td>
            </tr>
            <tr style="width:auto">
                <td style="padding:3px;width:150px">
                    Objective
                </td>
                <td  style="padding:3px;width:800px">
                    {{obj.objective}}
                </td>
            </tr>
            <tr style="width:auto">
                <td style="padding:3px;width:150px">
                    Resolution
                </td>
                <td  style="padding:3px;width:800px">
                    {{obj.resolution}}
                </td>
            </tr>
            {% if obj.img1 %}
            <tr style="width:auto">
                <td style="vertical-align: top;padding: 3px;width:150px">
                    Screen
                </td>
                <td  style="width:800px" >                        
                    <img src={{obj.img1.url}} alt="Image Not Found" class="img-thumbnail">
                </td>
            </tr>
            {% endif %}
            {% if obj.img2 %}
            <tr style="width:auto">
                <td  style="vertical-align: top;padding:3px;width:150px">
                    Screen
                </td>
                <td  style="width:800px" >                        
                    <img src={{obj.img2.url}} alt="Image Not Found" class="img-thumbnail">
                </td>
            </tr>
            {% endif %}
            {% if obj.img3 %}
            <tr style="width:auto">
                <td  style="vertical-align: top;padding:3px;width:150px">
                    Screen
                </td>
                <td style="width:800px">                        
                    <img src={{obj.img3.url}} alt="Image Not Found" class="img-thumbnail">
                </td>
            </tr>
            {% endif %}   
    </table>
    <br>

    {% endfor %}
{% endblock content %}

