{% extends 'base.html' %}
{% load static %}

{% block title %}
Upload
{% endblock title %}

{% block heading %}
<div class="text-center">
  Release Objects Upload
</div>

{% endblock heading %}

{% block toolbar %}
<a name="" id="" class="btn btn-warning btn-sm" href={% url 'app:release_list' %} role="button">Back</a>
{% endblock toolbar %}


{% block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-1">
    <input type="file" name="file" class="form-control p-1" required>
    </div>
    <button type="submit"  class="btn btn-sm btn-primary m-1">Upload</button>
  </form>
</div>

  <br>
  {{message}}  
{% endblock %}